
#contactPage {
    padding: 15vh 0;
    height: 100vh;
}

#contactContainer {
    height: 100%;
    font-size: 1.5em;
    text-align: center;
    width: 100%

}

#contactDetails {
    width: 100vw;
    margin: auto;
}

.contactLink:link, .contactLink:visited {
    color: #F0FFF1;
}
