
/* Entire page section */
#homePage {
    padding: 20vh 0;
    height: 100%;
}

 /* Section container containing Name, desc, and imgs */
#homeContainer {
    height: 100%;
    font-size: 2em;
    position: relative;
    text-align: center;

}

#homeName, #homeDescription {
    width: 100%;
    position: absolute;
}

#homeName {
    top: 25%;
}

#homeDescription {
    top: 50%;
}

.homeImage {
    opacity: 0.7;
    height: 100%;
    width: 100%;
}