@media (min-width: 1200px) {
    #Home {
        width: inherit;
        margin: inherit;
    }
    #imageContainer {
        width: inherit;
        height: 50vh;
    }
}

@media (max-width: 1199px) {
    #imageContainer {
        height: 60vh;
    }
}

#imageContainer {
    margin-top: 8vh;
}

#Home {
    height: inherit;
    padding-top: 10vh;
    text-align: center;
}

#name {
    font-size: x-large;
}

#description {
    font-size: xx-large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

