html, body {
    margin: 0;
    overflow: scroll;
    font-family: Sans-Serif;
    color: #F0FFF1;

    background-image: url("./images/woodFloor.jpeg");
    background-size: contain;
}

#root {
    /* Set coloured transparent background overlay  */
    background-color: rgba(90, 142, 175, 0.7);
    /* Make responsive to entire content */
    height: 100%;
}

/* Desktop */
@media (min-width: 1200px) {
    
}

/* Tablet */
@media (min-width: 800px) and (max-width: 1200px) {

}

/* Phone  */
@media (max-width: 480px) {
    
}
