$colors-white: #fafafa;
$colors-black: #1C1C1C;
$colors-red: #ff595eff;
$colors-yellow: #ffca3aff;
$colors-green: #8ac926ff;
$colors-blue: #1982c4ff;
$colors-purple: #6a4c93ff;

$fonts-title: 'Playfair Display';
$fonts-default: Karla;

$lengths-half: 4px;
$lengths-1: 8px;
$lengths-2: 16px;
$lengths-3: 24px;
$lengths-4: 32px;
$lengths-5: 40px;
$lengths-6: 48px;
$lengths-7: 56px;
$lengths-8: 64px;
$lengths-9: 72px;
$lengths-10: 80px;
$lengths-100: 800px;
