#navBar {
    display: flex;
    justify-content: center;
    position: absolute;
    float: left;
    top: 0;
    width: 100%;
    z-index: 100;
}

#navLink {
    font-size: 1.3em;
    font-family: Sans-Serif;
    color: #F0FFF1;
    margin: 0 0.5em;
}