/* phone */
@media (max-height: 799px) {
    #aboutPage {
        font-size: x-large;
    }
}

/* desktop / tablet */
@media (min-height: 800px) {
    #aboutPage {
        font-size: xx-large;
        max-width: 1000px;
    }
}

/* everything */
#aboutPage {
    margin: 25vh auto;
}
#aboutPage > div {
    margin: 10vh 0;
}