@import "sections.css" ;
@import "navbar.css";

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #F0FFF1;
    line-height: 30px;
    background-color: #5A8EAF;
    left: 0;
    top: 0;
    margin: 0px;
    padding: 0px;
}

.bluebg {
    background-color: #5A8EAF;
}
