@import "swiper.css";
@import "aboutSlide.css";
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #F0FFF1;
    line-height: 30px;
    background-color: #5A8EAF;
    left: 0;
    top: 0; 
    margin: 0px;
    padding: 0px;
    background-image: url("../images/wood-floor.jpeg");
    background-size: contain;
}

.background {
    background-color:rgba(90, 140, 175, 0.6);
}


a {
    color: #F0FFF1;
}
a:visited {
    color: #F0FFF1;
}
a:hover {
    color: #F0FFF1;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 5vh 0;
}
