
nav {
    padding: 0;
    margin: 0;
}

.sticky {
    position: relative;
    top: -10vh;
    margin-bottom: -6vh;
    transition: all .5s ease;
}

.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%;
    transition: all .5s ease
  }

#headerList {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-around;
    align-items: center;
}
