/* phone */
@media (max-width: 1199px) {
    #navbarLeft, #navbarRight {
    }
    #navbarLeft {
    }
    #navbarRight {
       
    }
}

/* desktop / tablet */
@media (min-width: 1200px) {
    #navbar {
        width: 1200px;
        margin: 0 auto;
    }
    #navbarLeft, #navbarRight {
    }
    #navbarLeft {   
        width: inherit;
    }
    #navbarRight {
        width: inherit;
    }
}

/* everything */
#navbarLeft, #navbarRight {
    position: absolute;
    z-index: 100; 
    padding: 0;
    margin: 0;
    color: #F0FFF1;
    top: 0;
    font-size: 20px;
}
#navbarLeft {
    float: left;
    text-align: left;
}
#navbarRight {
    float: right;
    text-align: right;
}
#navbarRight > button:hover {
    text-decoration: underline;
}
#navbarRight > button {
    background: none;
    border: none;
}