/* About slide */
#aboutSlide {
    grid-auto-rows: auto;
    
}
#aboutSlideImages {
    margin: 25vh 0;
    height: 50vh;
}
#aboutName {
    margin-top: 20vh;
}
#aboutDescription {
    margin: 0 5vh 20vh 5vh;
}
