/* About slide */
#aboutSlide {
    grid-auto-rows: auto;
    font-size: xx-large;
    
}
#aboutSlideImages {
    margin: 25vh 0;
    height: 50vh;
}
#aboutName {
    margin-top: 20vh;
}
#aboutDescription {
    margin: 0 5vh 20vh 5vh;
}

/* Contact slide */
#contactSlide {
    font-size: xx-large;
}